{% extends 'shop/base.html' %}
{% block content %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Product Price</th>
      <th scope="col">Total Cost</th>
      <th scope="col">Checkout</th>
    </tr>
  </thead>
  <tbody>
  {% for item in cart %}
    <tr>
      <td>{{item.product.name}}</td>
      <td>{{item.product.price}}</td>
      <td>{{total}}</td>
      <td><a class="btn btn-danger" href="{% url 'checkout' item.product.id %}">Remove</td>
    </tr>  
  {% endfor %}

  </tbody>
</table>
{% endblock content %}