{% extends 'shop/base.html' %}
{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <figure class="figure">
                <img src="{{obj.image.url}}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
            </figure>
        </div>

        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{obj.name}}</h5>
                    <p class="card-text">{{obj.description}}</p>
                    <p class="card-text"><b>Price: </b>{{obj.price}}</p>
                    <a class="btn btn-primary" href="{% url 'add_to_cart' obj.id %}">Add to cart</a>
                    <a class="btn btn-success" href="{% url 'checkout' obj.id %}">Buy</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}